*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
~$*.docx
/media3-adapter/.gitignore
/Engineering-Design-Document.md
/frame-plan.md
